.inputForm {
    display: flex;
}

.inputFields {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 58px;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    margin-left: 200px;
}

.textInput {
    display: flex;
    border: none;
    border-radius: 5px;
    vertical-align: middle;
    font-size: 16px;
    padding: 20px;
    outline: none;
}

.submitInput {
    display: flex;
    cursor: pointer;
    width: 136px;
    height: 44px;
    border: 1px;
    border-radius: 5px;
    background-color: #2D70FD;
    color: #FFFFFF;
    margin: 7px 7px 7px auto;
    padding: 12px 24px 12px 24px;
    gap: 8px;
    font-size: 18px;
}